body {
  background: linear-gradient(35deg, white, #e65100);
}

.poke-nav .logo-nav {
  left: 15%;
  height: 100%;
}

.poke-nav .logo-nav img {
  max-width: 100%;
  max-height: 100%;
}

.poke-nav .logo-nav img {
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 992px) {
  .poke-nav .logo-nav img {
    margin-left: calc((100vw - 700px) / 2);
  }
}

@media (max-width: 700px) {
  .poke-nav .logo-nav img {
    margin: 0;
  }
}

@media (max-width: 992px) {
  .poke-nav .logo-nav {
    left: 0;
    -webkit-transform: none;
            transform: none;
  }
}

@media (max-width: 374px) {
  .poke-nav ul {
    display: none;
  }
}

@media (max-width: 992px) {
  .poke-nav {
    padding: 0 calc((100vw - 700px) / 2);
  }
}

@media (max-width: 992px) {
  .poke-nav {
    padding: 0;
  }
}

@media (max-width: 374px) {
  .poke-nav {
    padding: 0 auto;
  }
}

.pokelist {
  background: rgba(0, 0, 0, 0.1);
  min-height: calc(100vh - 64px);
  margin: 0 15%;
  margin: 0px 15%;
  padding-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  position: relative;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

@media (max-width: 1000px) {
  .pokelist {
    margin: 0 auto;
    max-width: 700px;
  }
}

.pokecard {
  position: relative;
  display: inline-block;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-bottom: 15px;
  color: white;
  width: 300px;
  height: calc(100% - 15px);
  border-radius: 15px;
  padding-bottom: 10px;
  background-color: rgba(0, 0, 0, 0.1);
  -webkit-transition: 1s;
  transition: 1s;
}

.pokecard img {
  max-width: 100%;
  max-height: 100%;
}

.pokecard .img-wrapper {
  margin: 10px;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  -webkit-transition: 1s;
  transition: 1s;
}

.pokecard:hover {
  background: rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.pokecard:hover .img-wrapper {
  background: rgba(0, 0, 0, 0);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

@media (max-width: 300px) {
  .pokecard {
    width: 100vw;
  }
  .pokecard h2 {
    font-size: 2rem;
  }
}

.about-page {
  background: rgba(0, 0, 0, 0.1);
  min-height: calc(100vh - 64px);
  margin: 0 15%;
  height: 80vh;
}

.about-page p {
  margin: 0;
  padding: 10px;
}

.pokemon-page {
  background: rgba(0, 0, 0, 0.1);
  min-height: calc(100vh - 64px);
  margin: 0 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-grid-columns: 2;
      grid-template-columns: 2;
  -ms-grid-rows: 2;
      grid-template-rows: 2;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  padding: 0 10%;
}

.pokemon-page .main-wrapper {
  display: inline-block;
  width: 50%;
  margin-right: 5px;
  margin-bottom: 10px;
}

.pokemon-page .main-wrapper .image-wrapper {
  min-height: 10px;
}

.pokemon-page .main-wrapper .image-wrapper img {
  max-width: 100%;
  max-height: 100%;
}

.pokemon-page .main-wrapper .image-wrapper img {
  width: 400px;
  max-height: 400px;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}

.pokemon-page .main-wrapper h2 {
  min-height: 10px;
  text-align: center;
  margin: 15px auto 10px;
  background: rgba(0, 0, 0, 0.1);
  max-width: 400px;
  border-radius: 15px;
  padding-bottom: 15px;
}

.pokemon-page .main-wrapper .sprites-wrapper {
  background: rgba(0, 0, 0, 0.1);
  max-width: 400px;
  min-height: 10px;
  margin: 5px auto;
  border-radius: 15px;
}

.pokemon-page .main-wrapper .sprites-wrapper img {
  max-width: 100%;
  max-height: 100%;
}

.pokemon-page .main-wrapper .sprites-wrapper img {
  width: 100px;
  background: rgba(0, 0, 0, 0.1);
  margin: 5px;
  border-radius: 15px;
  -webkit-transition: 100ms;
  transition: 100ms;
}

.pokemon-page .main-wrapper .sprites-wrapper img:hover {
  cursor: pointer;
  background: rgba(0, 0, 0, 0.2);
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
}

.pokemon-page .info-wrapper {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  margin: 15px 0 auto 5px;
  padding: 5px;
  display: inline-block;
  width: 50%;
  height: 100%;
  text-align: left;
}

.pokemon-page .pokemon-table-header {
  text-align: center;
  font-size: 1.2em;
}

.skeleton .info-wrapper {
  display: none;
}

.skeleton h2 {
  content: '';
}

.skeleton .main-wrapper img {
  max-width: 100%;
  max-height: 100%;
}

.skeleton .main-wrapper img {
  width: 400px;
  max-height: 400px;
}
/*# sourceMappingURL=styles.css.map */